<!DOCTYPE html>
<html>

<head>
  <title>Người dùng</title>
  <link rel="stylesheet" href="Trang quản trị.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap"
    rel="stylesheet">
  </P>
  <link rel="stylesheet" href="Product.css">
  <script src="/Angular JS/angular-1.8.2/angular.js"></script>
  <script src="Product.js"></script>
  
</head>

<body ng-app="myApp" ng-controller="productCtrl">
  <div class="customer-container">
    <div class="form-group">
      <input type="text" id="productID" ng-model="product.id" name="productId" required>
      <label for="productId">Mã sản phẩm</label>
    </div>
    <div class="form-group">
      <input type="text" id="productName" name="productName" required>
      <label for="productName">Tên sản phẩm</label>
    </div>
    <div class="form-group">
      <input type="text" id="productDescription" name="productDescription" required>
      <label for="productDescription">Mô tả</label>
    </div>
    <div class="form-group">
      <input type="text" id="productQuantity" name="productQuantity" required>
      <label for="productQuantity">Số lượng</label>
    </div>
    <div class="form-group">
      <input type="text" id="productPrice" name="productPrice" required>
      <label for="productPrice">Đơn giá</label>
    </div>

    <!-- Trong template của Angular -->
    <div ng-controller="categoryCtrl" class="selectTL">
      <select ng-model="selectedCategory" ng-options="category.tenLoai for category in categories">
        <option value="">Chọn thể loại</option>
      </select>      
    </div>

    <div class="form-group">
      <input type="file" id="imageFile" accept="image/*" onchange="angular.element(this).scope().setImageFile(event)">
    </div>
    
    
    <button ng-click="createProduct()">Tạo Sản phẩm</button>
  </div>
</body>

</html>